Repository TheKingL/ESIGELEATS: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, djlint, eslint, prettier-js

.pre-commit-config.yaml:

repos:
  # Ruff : lint + format Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Hooks locaux : pylint, djlint, eslint, prettier
  - repo: local
    hooks:
      # Pylint
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: "^(controllers|models|routes|tests|utils|add_admin\\.py|app\\.py)"
        args:
          - "--output-format=colorized"
          - "--fail-under=7.0"

      # Djlint pour les templates Jinja
      - id: djlint
        name: djlint (jinja)
        entry: djlint
        language: system
        types: [file]
        files: "^templates/.*\\.html$"
        args:
          - "--profile=jinja"
          - "--reformat"

      # ESLint pour JS
      - id: eslint
        name: eslint
        entry: npx
        language: node
        types: [ javascript ]
        files: "^static/js/.*\\.js$"
        args:
          - eslint
          - static/js
          - --max-warnings=0

      # Prettier pour formater le JS
      - id: prettier-js
        name: prettier (js)
        entry: npx
        language: node
        types: [javascript]
        files: "^static/js/.*\\.js$"
        args:
          - "prettier"
          - "--write"

Typo port
  README.md
Due: none

Typo port
  Dockerfile
Due: none

Update readme
  README.md
Due: none

Bugfix
  controllers/comment_controller.py
Due: pylint

Bugfixes
  routes/recipes.py
  routes/users.py
  templates/errors/403_recipe_private.html
Due: pylint, djlint

Dockerfile fixes & users added to readme (pour le prof)
  .pre-commit-config.yaml
  Dockerfile
  README.md
  add_admin.py
  app.py
Due: pylint
